@import 'remixicon/fonts/remixicon.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
    overflow-x: hidden;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

/* Global Styles */

p {
  color: unset;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: unset;
  line-height: 22.4px;
  letter-spacing: -0.16px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.prose p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 1440px) {
  p {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  p {
    font-size: 12px;
  }
}

/* Custom Styles for Quote Block */

.quote-block p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.quote-block {
  color: #171717;
 /* font-family: Inter, sans-serif; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.16px;
}

@media (max-width: 1440px) {
  .quote-block {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .quote-block {
    font-size: 12px;
  }
}

/* Custom Headings Styles */
/* h1 */

.prose h1 {
  color: #171717; 
  font-family: Inter, sans-serif; 
  font-size: 32px; 
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; 
  letter-spacing: -0.32px; 
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 1024px) {
  .prose h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .prose h1 {
    font-size: 24px;
  }
}

/* h2 */

.prose h2 {
  color: #171717;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px;
  letter-spacing: -0.24px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 1024px) {
  .prose h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .prose h2 {
    font-size: 18px;
  }
}

/* h3 */

.prose h3 {
  color: #171717;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: -0.18px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  .prose h3 {
    font-size: 16px;
  }
}

/* a */

.prose a {
  color: #9A8142;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.16px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  cursor: pointer;
}

/* Statement Component Styles */
.statement {
  color: #171717;
  font-family: Inter, sans-serif;
  font-size: 54px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important;
  letter-spacing: -0.64px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 1024px) {
  .statement {
    font-size: 48px;
  }
}

@media (max-width: 764px) {
  .statement {
    font-size: 40px;
  }
}

@media (max-width: 375px) {
  .statement {
    font-size: 32px;
  }
}

/* BannerBlock Title Style */
.bannerblock-title {
  color: #FFF !important;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px; /* 120% */
  letter-spacing: -0.32px;
}

/* Parallax Title Block styles */
.parallax-title-block {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  height: 640px;
  padding: 80px 80px;
}

/* Global Styles */

br,
p br {
  height: 16px;
  line-height: 16px;
  content: "";
}

.prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: 8px !important;
  margin-top: 8px !important; /* ou ajuste conforme necessário */
}

